<h1>
  {{title}}
</h1>
<div>
      <input  md-raised-button id="file" type="file" [(ngModel)]="propertyFile" (change)="fileChanged($event)">
      <button md-raised-button (click)="showData()">Mostrar Data</button>
      <button md-raised-button (click)="onReset()">Reinicar</button>

      <md-chip-list *ngIf="fileName || message" >
        <md-chip color="primary" selected="true">File Name:{{fileName}}</md-chip>
        <md-chip color="primary" selected="true">{{message}}</md-chip>
      </md-chip-list>
</div>
<div *ngIf="dataDepartament.length>0">
<h3>DEPARTAMENTO</h3>
<table border="1" md-table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Código Padre</th>
      <th>Descripción Padre</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of dataDepartament">
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{item.codeParent}}</td>
        <td>{{item.nameParent}}</td>
      </tr>
  </tbody>
</table>

</div>

<div *ngIf="dataProvince.length>0">

<h3>PROVINCIA</h3>
<table border="1">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Código Padre</th>
      <th>Descripción Padre</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of dataProvince">
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{item.codeParent}}</td>
        <td>{{item.nameParent}}</td>
      </tr>
  </tbody>
</table>

</div>

<div *ngIf="dataDistrict.length>0">

<h3>DISTRITO</h3>
<table border="1">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Código Padre</th>
      <th>Descripción Padre</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of dataDistrict">
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{item.codeParent}}</td>
        <td>{{item.nameParent}}</td>
      </tr>
  </tbody>
</table>

</div>
